body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Evitar el desplazamiento */
}

#intro-video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover; /* Asegura que la imagen cubra toda la pantalla */
    z-index: 9999; /* Asegura que el video esté por encima del contenido */
}

#intro-video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que el video cubra toda la pantalla */
}